/* Articles Page Styling */
.article_page-container-wrapper {
    padding: 100px 20px 0 20px;
}

.articles_page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.articles_page-wrapper .articles_page-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    gap: 5px;
    width: 300px;
    border-radius: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.articles_page-wrapper .articles_page-card .articles_page-img-wrapper {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.articles_page-wrapper .articles_page-card .articles_page-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.articles_page-wrapper .articles_page-card h4 {
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.articles_page-wrapper .articles_page-card p {
    margin: 0 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

/* Detail Article Styling */
.detail_article_page-wrapper {
    padding: 100px 20px 0 20px;
}

.detail_article_page-wrapper h2 {
    font-size: 28px;
    font-weight: 060;
}

.detail_article_page-wrapper .detail_article_page-img-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.detail_article_page-wrapper .detail_article_page-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail_article_page-content-wrapper {
    margin-top: 20px;
    line-height: 1.6;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    font-size: 16   px;
}

.detail_article_page-content-wrapper p {
    margin-bottom: 15px;
}

.detail_article_page-content-wrapper a {
    color: #007bff;
    text-decoration: none;
}

.detail_article_page-content-wrapper a:hover {
    text-decoration: underline;
}

.detail_article_page-content-wrapper .detail_article_page-creator-wrapper {
    background-color: rgb(133, 133, 133);
    display: inline-block;
    color: white;
    padding: 0 10px;
    margin-bottom: 20px;
}

.articles_page-btn-operate {
    display: inline-block;
    margin-bottom: 20px;
    background-color: rgb(141, 203, 141);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}